APP_PASSWORD=replace-with-a-long-private-password
SESSION_SECRET=replace-with-at-least-32-random-characters
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/REPLACE_WITH_DEPLOYMENT_ID/replace-with-exec
GOOGLE_APPS_SCRIPT_SECRET=replace-with-at-least-32-random-characters
